.green {
  font-family: 'Comic Sans MS';
  background: lime;
  font-size: 15px;
  border: 10px dashed green;
  width: 100%;
  color: limegreen;
}

.red {
  font-family: 'Comic Sans MS';
  background: rgb(255, 0, 0);
  font-size: 15px;
  border: 10px dashed rgb(128, 0, 0);
  width: 100%;
  color: rgb(205, 50, 50);
}

.blue {
  font-family: 'Comic Sans MS';
  background: rgb(25, 0, 255);
  font-size: 15px;
  border: 10px dashed rgb(23, 0, 128);
  width: 100%;
  color: rgb(53, 50, 205);
}