
    header {
      background-color: #2b2b2b;
      height:25px;
      width:100%;
      line-height: 25px;
      word-spacing: 5px;
      text-align: center;
    }

    nav ul li a {
      color: #47ff50;
      text-decoration: d;
    }

    a:link {
      color: limegreen;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: lime;
      background-color: transparent;
      text-decoration: underline;
    }