/* ========================
   BASIC RESET
   ------------------------
   Remove default browser margins, paddings, and set consistent box-sizing.
   ======================== */
* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  text-align: center;
}

/* ========================
   BODY
   ------------------------
   Set the overall font, text colour, background colour and line spacing.
   ======================== */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background: #fff;
  line-height: 1.5;
}

span {
  color: red;
}

.buttond {
  color: green;
  font-size: 45px;
  background-color: red;
}

.buttond2 {
  color: red;
  font-size: 45px;
  background-color: green;
}

    header {
      background-color: #2b2b2b;
      height:25px;
            line-height: 25px;
      width:100%;
      word-spacing: 5px;
      text-align: center;
    }

    nav ul li a {
      color: #47ff50;
      text-decoration: d;
    }

    a:link {
      color: limegreen;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: lime;
      background-color: transparent;
      text-decoration: underline;
    }